//reset styles
@font-face {
    font-family: 'Raleway';
    src: url(../assets/Raleway-Regular.woff2);
}


* {
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}
body {
    font-family: 'Raleway';
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
}

