//theme colors
$light: #e5e5e5;
$verdigris: #47ADAE;
$cyclamen: #ED689C;
$bdazzledBlue: #3A5C78;
$darkPurple: #36213E;
$plumb: #31081F;
$green: #007F72;
$red: #FF4635;

//color palette

$colors: (
    "light": $light,
    "verdigris": $verdigris,
    "cyclamen": $cyclamen,
    "bdazzledBlue": $bdazzledBlue,
    "darkPurple": $darkPurple,
    "plumb": $plumb
);

