@import 'variables';
@import 'base';

body {
    background-image: url(../assets/cloud-wallpaper.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

    .title {
        color: rgb(240, 248, 255);
        font-size: 90px;
        font-family: 'Macando';
        text-align: center;
    }

    .show-heroes-btn {
        margin-top: 30px;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        box-shadow: 1px 3px 5px rgba(8, 8, 8, 0.319);

    }
}

.heroes-container {
    display: flex;
    width: 100%;
    justify-content: center;
    color: $light;
    flex-flow: row wrap;
}

.hero-container {
    margin: 20px 10px;
    padding: 50px 20px;
    border-radius: 20px;
    display: flex;
    flex-basis: 20%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #063f71;
    background-image: url(..//assets/caveman.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: exclusion;
    box-shadow: 1px 3px 5px rgba(8, 8, 8, 0.319);

    &:hover {
        box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca, 0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
        cursor: pointer;
    }

    .hero-img {
        height: 220px;
        margin: 0 10px 30px 10px;
        padding: 5px;
        border-color: #042b4e;
        border-style: double;
        background-color: rgba(240, 248, 255, 0.524);
        border-radius: 20px;
        box-shadow: 1px 3px 5px rgba(8, 8, 8, 0.319);

    }

    .hero-title {
        font-size: 30px;
        font-weight: bold;
        margin: 10px 0;
        font-family: 'Macando';
    }

    .hero-details {
        padding: 20px 0px;
        display: flex;
        flex-flow: row wrap;


        .hero-hp {
            background-color: rgba(240, 248, 255, 0.832);
            padding: 8px 10px;
            border-radius: 15px;
            color: $green;
            margin: 0px 4px;
            box-shadow: 1px 3px 5px rgba(8, 8, 8, 0.319);

        }

        .hero-attack {
            background-color: rgba(240, 248, 255, 0.832);
            padding: 8px 10px;
            border-radius: 15px;
            color: $red;
            margin: 0px 4px;
            box-shadow: 1px 3px 5px rgba(8, 8, 8, 0.319);



        }

        .hero-stats-icon {
            height: 15px;
        }
    }

    .hero-abilities {
        font-family: 'Macando';
        font-size: 20px;
    }

    .hero-class {
        padding: 10px 10px;
        font-size: 17px;
        font-family: 'Macando';
    }
}