@import 'base';

body {
    background-image: url(../assets/sky.webp);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #0e0c55;

}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        color: #ffffff;
        font-size: 75px;
        text-align: center;
        margin: 6vh 3vw;
    }
}

.btn {
    display: inline-block;
    padding: 20px 32px;
    border: 0;
    margin: 20px 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
    justify-content: center;
    width: 13em;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transition: 0.3s;
        box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #f4ebdc, 0 0 30px #f4ebdc;
    }

}

.instructions {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 2rem;
    margin: 2rem;
    color: #d3d3d3;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);


    h2 {
        margin: 1rem;
    }
    li {
        line-height: 1.6;
    }
}

.heroes-container {
    display: none;
    justify-content: space-evenly;
    color: #d3d3d3;
    flex-flow: row wrap;
    align-items: center;
}

.hero-container {
    margin: 1vh 2vw;
    padding: 4vh 4vw;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #eed3b0;
    box-shadow: 1px 3px 5px rgba(8, 8, 8, 0.319);
    transition: 0.5s all ease;
    background: linear-gradient(90deg,
            rgba(251, 131, 131, 0.1) 0%,
            rgba(254, 81, 150, 0.1) 100%);
    box-shadow:
        inset 0px 5px 5px 0px rgba(255, 255, 255, 0.1),
        inset 0px -5px 5px 0px rgba(254, 81, 150, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    &:hover {
        box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #f4ebdc, 0 0 30px #f4ebdc, 0 0 40px #f4ebdc, 0 0 50px #f4ebdc;
    }

    .hero-img-container {
        background:
            radial-gradient(110.35% 80.79% at 6% 103.92%,
                rgba(37, 169, 239, 1) 0%,
                rgba(37, 169, 239, 0) 100%),
            linear-gradient(169.3deg,
                rgba(205, 249, 232, 1) 15%,
                rgba(205, 249, 232, 0) 46%),
            radial-gradient(123% 73% at 107% 96%,
                rgba(255, 253, 177, 1) 20%,
                rgba(254, 228, 191, 1) 60%,
                rgba(240, 189, 208, 1) 75%,
                rgba(255, 129, 38, 0) 100%),
            linear-gradient(0deg,
                rgba(0, 204, 131, 1) 0%,
                rgba(0, 204, 131, 1) 100%);
        border-radius: 33% 67% 60% 40% / 47% 66% 34% 53%;

        .hero-img {
            margin: 20px;
            width: 150px;
            height: 150px;

        }
    }

    .hero-header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hero-title {
        font-size: 30px;
        font-weight: bold;
        margin: 10px 0;
    }

    .hero-details {
        padding: 20px 0px;
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        align-items: flex-start;

        span {
            padding: 8px 2px;
            margin: 0px 2px;
        }

        .hero-hp {


            .extra {
                color: #75b74f;
            }

            .minus {
                color: #f29b9b;
            }

        }

        .hero-attack {

            .extra {
                color: #75b74f;
            }
        }

        .hero-stats-icon {
            height: 15px;
        }

    }

    .hero-abilities {
        font-size: 15px;
        display: flex;
        flex-direction: column;


        .abilities-title {
            margin: 10px 0;
            font-size: 20px;
        }
    }

    .hero-class {
        padding: 10px 10px;
        font-size: 17px;
    }

    .btn-container {

        .select-btn {
            display: inline-block;
            padding: 20px 32px;
            border: 0;
            text-decoration: none;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(30px);
            color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            letter-spacing: 2px;
            cursor: pointer;
            text-transform: uppercase;
            transition: 0.3s;
            justify-content: center;
            width: 13em;

            &:hover {
                background-color: rgba(228, 197, 255, 0.3);
                transition: 0.3s;
            }
        }
    }
}

.tooltip {
    position: relative;
    display: inline-flex;

    img {
        margin: 5px 3px;
        cursor: pointer;
    }

    .tooltiptext {
        visibility: hidden;
        width: 150px;
        background: linear-gradient(90deg,
                rgb(63, 7, 72) 0%,
                rgba(121, 0, 111, 0.711) 100%);
        box-shadow:
            inset 0px 5px 5px 0px rgba(255, 255, 255, 0.1),
            inset 0px -5px 5px 0px rgba(254, 81, 150, 0.1);
        color: #ffffff;
        text-align: center;
        padding: 15px 0;
        border-radius: 6px;
        opacity: 95%;
        position: absolute;
        z-index: 1;

        strong {
            font-size: 16px;
        }
    }

    &:hover {
        transform: scale(1.2) translateY(-10px);

        .tooltiptext {
            visibility: visible;
            text-align: left;
            top: 110%;
            left: 50%;
            margin-left: -80px;
            padding: 10px;

            &::after {
                content: ' ';
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent rgba(121, 0, 111, 0.711) transparent;
            }
        }
    }
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    figcaption {
        font-size: 0.75em;
        font-style: italic;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    #start-fight {
        display: none;

        &:disabled,
        &[disabled] {
            cursor: not-allowed;
            background-color: rgba(255, 255, 255, 0.2);

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                transition: 0.3s;
                box-shadow: none;

            }
        }
    }

    #battlelog {
        display: none;
    }

    #restart {
        display: none;
    }
}

#select-sprite,
#select-dragon,
#select-dwarf {

    &:focus {
        background-color: #4eff5d;
        color: #333;
    }

    &:active {
        background-color: #4eff5d;
        color: #333;
    }
}

/*IPAD*/
@media only screen and (max-width: 1024px) {
    // body {
    //     background-image: none;
    //     background-color: red;
    // }
}

/*MOBILE*/
@media only screen and (max-width: 767px) and (orientation: landscape) {
    // body {
    //     background-image: none;
    //     background-color: blue;
    // }
}

/*MOBILE*/
@media only screen and (max-width: 767px) and (orientation: portrait) {
    // body {
    //     background-image: none;
    //     background-color: pink;
    // }
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-inherit {
    display: inherit;
}

.test {
    background-color: red;
}