@font-face {
  font-family: "Raleway";
  src: url(../assets/Raleway-Regular.woff2);
}
* {
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  font-family: "Raleway";
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
}

body {
  background-image: url(../assets/sky.webp);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #0e0c55;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main-container .title {
  color: #ffffff;
  font-size: 90px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 20px 32px;
  border: 0;
  margin: 20px 10px;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
  justify-content: center;
  width: 13em;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #f4ebdc, 0 0 30px #f4ebdc;
}

.heroes-container {
  display: none;
  justify-content: space-evenly;
  color: #d3d3d3;
  flex-flow: row wrap;
}

.hero-container {
  margin: 2vh 2vw;
  padding: 5vh 5vw;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #eed3b0;
  box-shadow: 1px 3px 5px rgba(8, 8, 8, 0.319);
  transition: 0.5s all ease;
  background: linear-gradient(90deg, rgba(251, 131, 131, 0.1) 0%, rgba(254, 81, 150, 0.1) 100%);
  box-shadow: inset 0px 5px 5px 0px rgba(255, 255, 255, 0.1), inset 0px -5px 5px 0px rgba(254, 81, 150, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.hero-container:hover {
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #f4ebdc, 0 0 30px #f4ebdc, 0 0 40px #f4ebdc, 0 0 50px #f4ebdc;
}
.hero-container .hero-img-container {
  background: radial-gradient(110.35% 80.79% at 6% 103.92%, rgb(37, 169, 239) 0%, rgba(37, 169, 239, 0) 100%), linear-gradient(169.3deg, rgb(205, 249, 232) 15%, rgba(205, 249, 232, 0) 46%), radial-gradient(123% 73% at 107% 96%, rgb(255, 253, 177) 20%, rgb(254, 228, 191) 60%, rgb(240, 189, 208) 75%, rgba(255, 129, 38, 0) 100%), linear-gradient(0deg, rgb(0, 204, 131) 0%, rgb(0, 204, 131) 100%);
  border-radius: 33% 67% 60% 40%/47% 66% 34% 53%;
}
.hero-container .hero-img-container .hero-img {
  margin: 20px;
  width: 210px;
  height: 210px;
}
.hero-container .hero-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-container .hero-title {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}
.hero-container .hero-details {
  padding: 20px 0px;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  align-items: flex-start;
}
.hero-container .hero-details span {
  padding: 8px 2px;
  margin: 0px 2px;
}
.hero-container .hero-details .hero-hp .extra {
  color: #75b74f;
}
.hero-container .hero-details .hero-hp .minus {
  color: #ff4e4e;
}
.hero-container .hero-details .hero-attack .extra {
  color: #75b74f;
}
.hero-container .hero-details .hero-stats-icon {
  height: 15px;
}
.hero-container .hero-abilities {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.hero-container .hero-abilities .abilities-title {
  margin: 10px 0;
  font-size: 20px;
}
.hero-container .hero-class {
  padding: 10px 10px;
  font-size: 17px;
}
.hero-container .btn-container .select-btn {
  display: inline-block;
  padding: 20px 32px;
  border: 0;
  margin: 20px 10px;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
  justify-content: center;
  width: 13em;
}
.hero-container .btn-container .select-btn:hover {
  background-color: rgba(228, 197, 255, 0.3);
  transition: 0.3s;
}

.tooltip {
  position: relative;
  display: inline-flex;
}
.tooltip img {
  margin: 5px 3px;
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background: linear-gradient(90deg, rgb(63, 7, 72) 0%, rgba(121, 0, 111, 0.711) 100%);
  box-shadow: inset 0px 5px 5px 0px rgba(255, 255, 255, 0.1), inset 0px -5px 5px 0px rgba(254, 81, 150, 0.1);
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  border-radius: 6px;
  opacity: 95%;
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext strong {
  font-size: 16px;
}
.tooltip:hover {
  transform: scale(1.2) translateY(-10px);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  text-align: left;
  top: 110%;
  left: 50%;
  margin-left: -80px;
  padding: 10px;
}
.tooltip:hover .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(121, 0, 111, 0.711) transparent;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure figcaption {
  font-size: 0.75em;
  font-style: italic;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn-container #start-fight {
  display: none;
}
.btn-container #battlelog {
  display: none;
}
.btn-container #restart {
  display: none;
}

/*IPAD*/
/*MOBILE*/
/*MOBILE*/
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}/*# sourceMappingURL=style.css.map */